body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 50px;
}
.vision_statement_container p{
    margin-left: 50px;
}

.vision_statement_container h2{
    margin-left: 20px;
}

.goal {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.goal h2 {
    color: #000;
    margin-top: 0;
}
